<header>
    <div class="logo"></div>
        <nav class="small-6 columns row align-center">
            <ul class="nav-menu row align-center">
                <li class="columns"><button class="button" ui-sref=".about">о нас</li>
                <li class="columns"><button class="button" ui-sref=".price">стоимость</li>
                <li class="columns"><button class="button" ui-sref=".portfolio">портфолио</li>
                <li class="columns"><button class="button" ui-sref=".feedback">отзывы</li>
            </ul>
        </nav>
</header>